<div id="map" 
	data-lat="{{ post.get_field('map').lat }}"
	data-lng="{{ post.get_field('map').lng }}"
	alt="This is a map of {{post.title}}'s location"
></div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADXNKuWEVzH3Tf0kq8hbKYEhGQOfGGJ4k"></script>