{% extends 'index.twig' %}
{% block title_tag %}
  <title>Boston's Best Digital Design Companies - {{category.name}}</title>
{% endblock %}
{% block section_title %}
  <div class="section_title--block">
    <h1 class="section-title">{{category.name}}</h1>
  </div>
{% endblock %}