{% extends 'index.twig' %}
{% block content %}
<div class="tags">
	<p class="page-tag color-inverse">#meta</p>
</div>
<h1 class="page-title">{{post.title}}</h1>
<div class="body-content">{{post.content}}</div>

{% endblock %}