<footer class="footer">
	<p class="footer-item">©2016. Made by <a href="http://www.upstatement.com">Upstatement</a></p>
	<p class="footer-item"><a href="mailto:info@upstatement.com">info@upstatement.com</a></p>
</footer>