<div class="global-nav">
  <img class="logo" src="/static/img/boston-built-logo.svg"/>
  <ul class="global-nav__links">
    <a href="#">
      <li>Companies</li>
    </a>
    <a href="#">
      <li>About</li>
    </a>
  </ul>
</div>