<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ current_page.title }}</title>

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    {% endblock %}
    
    <script type="text/javascript" src="/static/js/modernizr.js"></script>
    <script src="https://use.typekit.net/zsf4bmz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    
  </head>
  <body>

  <nav class="global-nav">
    <a class="logo-wrapper" href="/archive.html">
      <div class="logo"></div>
    </a>
    <ul class="global-nav__links">
      <a href="/archive.html">
        <li>Companies</li>
      </a>
      <a href="/about.html">
        <li>About</li>
      </a>
    </ul>
	</nav>

  <div class="page-content--wrapper">
<!--   	<div class="hexagon"></div> -->
		<div class="page-content">
      <div class="page-tab--left"></div>
      <div class="page-tab--right"></div>
			<div class="tags">
				<p class="page-tag">#generic-page</p>
			</div>
		  <h1 class="page-title">Generic Page</h1>
      <div class="body-content">
		    <p>Boston Built is a directory of Boston’s best digital talent.  It was made by Upstatement. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
      </div>
		</div>

    <footer class="footer">
			<p class="footer-item">Made by <a href="http://www.upstatement.com">Upstatement</a></p>
		{#	<p class="footer-item"><a href="mailto:info@upstatement.com">info@upstatement.com</a></p> #}
		</footer>

  </div>

  {% block scripts %}
  <!-- build:js /static/js/vendor.js -->
  
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  
  <!-- endbuild -->

  <!-- build:js /static/js/scripts.js -->
  <script type="text/javascript" src="/static/js/main.js"></script>
  <!-- endbuild -->
  {% endblock %}
  </body>
</html>