<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ current_page.title }}</title>

    {% block styles %}
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    {% endblock %}
    
    <script type="text/javascript" src="/static/js/modernizr.js"></script>
    <script src="https://use.typekit.net/zsf4bmz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    
  </head>
  <body>

  <nav class="global-nav">
  	<a class="logo-wrapper" href="/archive.html">
	  	<div class="logo"></div>
		</a>
	  <ul class="global-nav__links">
	    <a href="/archive.html">
	      <li>Companies</li>
	    </a>
	    <a href="/about.html">
	      <li>About</li>
	    </a>
	  </ul>
	</nav>

  <div class="page-content--wrapper">
    <div class="page-content__image--wrapper">
      <img class="page-content__image" src="/static/img/keri.jpg" />
    </div>
{#   	<div class="hexagon"></div> #}
		<div class="page-content has-image">
      <div class="page-tab--left"></div>
      <div class="page-tab--right"></div>
			<div class="tags">
				<p class="page-tag">#web-design</p>
        <p class="page-tag">#web-development</p>
        <p class="page-tag">#strategy</p>
			</div>
		  <h1 class="page-title">Upstatement</h1>
		  <div class="body-content">
        <p>We’re a free-thinking, fun-loving digital shop that’s boutique by design. Each client collaborates closely with a multi-disciplinary team of designers, developers, and strategists. Everyone here does a little bit of everything, which helps us move fast to make innovative products.</p>
      </div>
      <div class="contact-info">
        <a class="contact-info--phone" href="tel:+1-617-329-1316">617-329-1316</a>
        <p class="contact-info--dot">・</p>
        <a class="contact-info--email" href="mailto:info@upstatement.com">info@upstatement.com</a>
      </div>
      <div class="location-block">
        <p class="location-block--address">133 Portland St, 5th Floor <br>Boston, MA 02114</p>
        <div class="location-block--map"></div>
      </div>
		</div>

    <footer class="footer">
			<p class="footer-item">©2016. Made by <a href="http://www.upstatement.com">Upstatement</a></p>
			<p class="footer-item"><a href="mailto:info@upstatement.com">info@upstatement.com</a></p>
		</footer>

  </div>

  {% block scripts %}
  <!-- build:js /static/js/vendor.js -->
  
  <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  
  <!-- endbuild -->

  <!-- build:js /static/js/scripts.js -->
  <script type="text/javascript" src="/static/js/main.js"></script>
  <!-- endbuild -->
  {% endblock %}
  </body>
</html>